body {
    font-family: cakewalk, sans-serif;
    background-color: #fff6f0;
    margin: 0;
    text-align: center;
}

header {
    background-color: #6D0100;
    color: white;
    padding: 30px 10px;
}

section {
    padding: 20px;
    color: #6D0100;
}

ul {
    list-style: none;
    color: white;
    padding: 0;
}

li {
    background: #6D0100;
    margin: 10px auto;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
}

footer {
    background-color: #6D0100;
    color: white;
    padding: 15px;
}
