/* ---------------- BODY ---------------- */
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff6f0; /* light cream */
    margin: 0;
    color: #6D0100; /* default text dark red */
}

/* ---------------- TOP HEADER ---------------- */
.top-header {
    background-color: #6D0100; /* deep red */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.top-header .brand {
    font-size: 20px;
    font-weight: bold;
}

.menu-icon {
    font-size: 28px;
    cursor: pointer;
}

/* ---------------- DROPDOWN MENU ---------------- */
.side-menu {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff6f0;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
    z-index: 999;
}

.side-menu.active {
    max-height: 400px;
}

.side-menu a {
    display: block;
    padding: 18px 25px;
    font-size: 18px;
    color: #6D0100;
    text-decoration: none;
    text-align: left;
    border: none;
}

.side-menu a:hover {
    background-color: #f3d4cd;
}


/* ---------------- SECOND HEADER ---------------- */
.main-header {
    background-color:#6D0100;
    padding: 50px 20px 30px 20px;
}

.main-header .motto {
    font-size: 40px;
    font-weight: bold;
    margin: 0 0 10px 0;
    color: white;
    line-height: 1.2;
}

.main-header .quote {
    font-size: 18px;
    font-style: italic;
    margin: 0;
    color: #fff;
}

/* ---------------- SECTION ---------------- */
section {
    padding: 30px 20px;
    text-align: center;
}

section h3 {
    color: #6D0100;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: white;
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
    text-align: center;
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card h4 {
    margin: 10px 0 5px 0;
    color: #6D0100;
}

.card p {
    font-size: 14px;
    color: #6D0100;
}

.card:hover {
    transform: translateY(-5px);
}
/* ---------------- CONTACT SECTION ---------------- */
.contact-section {
    background-color: #f3d4cd;
    padding: 30px 20px;
    text-align: center;
}

/* ---------------- FOOTER ---------------- */
footer {
    background-color: #6D0100; /* same as top header */
    color: #fff6f0;
    padding: 20px 15px;
    font-size: 10px;
}

footer a {
    color: #fff6f0;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
    }}

